/*problems: brains misalign when window shrinks*/;

* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

body {
	background-color: rgb(220, 220, 220);
	min-height: 1000px;
	position: relative;
	font-family: 'Maven Pro', sans-serif;
}

header{
	float: left;
	width: 100%;

}

h1{
	font-family: 'Allerta Stencil', sans-serif;
	font-style: italic;
	color: 	black;
	padding-left: 3%;
	width: 97%;
	float: left;
	font-size: 4em;

	text-shadow: 2px 2px 8px rgb(229, 65, 50);
}

.sectionHeader{
	border-top: 2px solid rgb(229, 65, 50);
	border-bottom: 2px solid rgb(229, 65, 50);
	padding-bottom: 10px;
	width: 100%;
}

nav{
	
	margin-top: 50px; 
	margin-left: 5%;
	float: right;
	
	color: rgb(229, 65, 50);
	font-size: 2.0em;
	z-index: 5;
}


#virginiaTransport{
	float: left;
	padding-top:0;
}

#llc {
	margin-left: 20px;
	padding-top: 15px;
	padding-right: 10px;
	font-size: .3em;
	float: left;
}

#header-right{
	width: 45%;
	float: right;
}
nav div{
	font-size: .8em;
	float: left;
	min-width: 10%;
	height: 20px;
	text-align: center; 
	border-right: 2px solid rgb(229, 65, 50);
	padding: 0 5px 5px 5px;
	padding-bottom: 10px;
}

nav a{
	width: 100%;
	color: black;
	text-decoration: none;
}

#lastNav{
	border-right: none;
}
.navFixed{
	background-color: #bebebe;
	width: 100%;
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0;
	padding-left:20%;
}
.headerRightFixed{
	width: 100%;
}

#phoneHeader{
	width: 100%;
	padding:2%;
	float: right;
}

.phone-pic {
	float:right;
	width: 3%;
	padding-right: 10px;
}

.phone-number{
	float: right;
	font-size: 1.1em;
}

#faxNumber{
	padding-right: 2%;
}

.fullWidthImg{
	clear: both; 
	display: block; 
	height: 300px;
	width: 1000px;
}


.slideShow{
	width: 100%;
	min-height: auto;
	overflow: hidden;
	
}
.mySlides{
	position: relative;
	width: 100%;
	height: auto;

}

#road{
	position: fixed;
	width: 100%;
	height: auto;
	position: relative;
	
	
	
}
#fourTrucks{
	width: 100%;
	position: relative;

}

#truckLine{
	width: 100%;	
	position: relative;

}

#government{

	width: 100%;
	
	position: relative;
	
}

.imgCaption{
	font-size: 1em;
	background: rgba(255,255,255, 1);
	position: absolute;
	color: black;
	z-index: 4;
	top: 10%;
	left: 60%;
	margin-right: 5%;
	min-width: 25%;
	min-height: 20px;
	padding: 15px;
	border-radius: 5%;
}

#caption1{
	top: 10%;
}

#caption2{
	top: 10%;
}

#mainCaption{
	font-size: 1.5em;
	margin: 4% 10% 0 7%;
	width: 85%;
	padding: 1%;
	background-color: rgba(255,255,255, .5) ;
	float: left;
	border-radius: 5%;
	box-shadow: 5px 5px 5px rgb(229, 65, 50);

}

#animationArea{
	display: block;
	clear: both;
	background-color: none;
	height: 100px;
	position: relative;
	width: 100%;
	padding-left: -100px; 
	overflow-x: hidden;
}

#truck{
	position: absolute;
	height: 50px;
	width: auto;
	top: 30px;
	left: -200px;

}

@keyframes drive{
	
	57% {left: 0%;}
	57.5% {left: 15%;}
	58% {left: 30%;}
	58.5% {left: 40%;}
   	59% {left: 50%;}
   	59.5% {left: 60%;}
   	60% {left: 70%;}
   	60.5% {left: 80%;}
   	61% {left: 90%;}
   	62% {left: 100%;}
   	100%{left: 100%}
}

@-webkit-keyframes drive{
	57% {left: 0%;}
	57.5% {left: 15%;}
	58% {left: 30%;}
	58.5% {left: 40%;}
   	59% {left: 50%;}
   	59.5% {left: 60%;}
   	60% {left: 70%;}
   	60.5% {left: 80%;}
   	61% {left: 90%;}
   	62% {left: 100%;}
   	100%{left: 100%}
}

@-moz-keyframes drive{

	57% {left: 0%;}
	57.5% {left: 15%;}
	58% {left: 30%;}
	58.5% {left: 40%;}
   	59% {left: 50%;}
   	59.5% {left: 60%;}
   	60% {left: 70%;}
   	60.5% {left: 80%;}
   	61% {left: 90%;}
   	62% {left: 100%;}
   	100%{left: 100%}
}

.animateDrive{
	
	animation: drive ease-in-out 20s infinite;
	animation-delay: 15s;
	-webkit-animation-delay: 15s;
	-moz-animation-delay: 15s;
}

.link-section{
	min-height: 300px;
	width: 100%;
	float: right;
}

.floating-box{
	min-width: 25%;
	
	margin-left: 5%;
	background-color: rgba(255,255,255, .5);
	float: left;
	border-radius: 5%;
	box-shadow: 5px 5px 5px rgb(229, 65, 50);
}

.box-text{
	color: black;

}

.sectionBreak{
	width: 100%;
	height: 400px;
	float: 	right;
	
	margin-top: 30px;
	margin-bottom: 	30px;
	position: 	relative;
}	

#roadOne{
	background-image: url("../images/sectionBreaks/white_truck.jpg");
	background-position: 30% 70%;
	background-attachment: 	fixed;
	background-size: 100% auto;
   

}

#roadTwo{
	background-image: url("../images/sectionBreaks/US_Map.jpg");
	background-position: 100% 30%;
	background-attachment: 	fixed;
}

#roadThree{
	background-image: url("../images/sectionBreaks/bridge.jpg");
	background-position: 70% 50%;
	background-attachment: 	fixed;
}



#contactPic{
	background-image: url("../images/sectionBreaks/tire.jpg");
	background-position: 70% 20%;
	background-attachment: 	fixed;
}

#contactBox{
	float: left;
	min-width: 50%;
	margin-right: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
}

#contactHeader{
	margin-bottom: 10px;
}
#contactBox .box-text{
	float: left;
	font-size: 1.5em;
	margin-top: 20px;
	padding: 20px;
	width: 40%;
	border: 2px solid #035096;
	border-radius: 5%;
	margin: 0;
	margin-left: 5%;

}

#philosophyText{
	width: 90%;
	padding: 20px;
	float: left;
	min-height: 100px;
}
#philosophyBox{

	float: left;	
	width: 100%;
}

#philosophyBox .box-text{
	font-size: 1.5em;
	padding-left: 5%;
	margin: 0;

}
#companyInfo{
	width: 30%;
	padding: 20px;
	
	min-height: 100px;
	font-size: 	1em;
	border: 2px solid #035096;
	border-radius: 5%;
}

#logoBox{
	float:left;
	width: 30%;
	margin-left: 5%;
	height: auto;
	border-radius: 5%;
	
	overflow: hidden;

}

#logo{
	width: 250px;
}

#map{
	width: 10%;
	float: left;
	margin-top: 50px;
}
#redmap{
	width: 150px;
	float: left;
}

.link-section #shipperInfo{
	min-height: 200px;
}


#shipperInformationBox{
float: left;
width: 45%;
min-height: 800px;
/*margin right is high to keep the formatting in place while designing*/
margin-right: 5%;
margin-bottom: 50px;
}

h2{
	font-size: 2em;
	font-family: 'Allerta Stencil', sans-serif;
	font-style: italic;
	color: black;
	

}

.title{

	margin-left: 5%;
}

h3{
	font-size: 	1.5em;
}

#shipperInformationBox .box-text{
	margin-top: 0;
	font-size: 1.5em;
	padding-left: 5%;
}

.bullet-blue{

	color: rgb(229, 65, 50);

}


#hzDesignationBox{
	float: right;
	margin-right: 5%;
}

.link-section p {
	color: black;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0;
	width: 80%;
	min-height: 100px;
	float: left;
	font-size: 1.5em;
}

.pBox{
	background-color: rgba(255,255,255, .5);
	border-radius: 5%;
	box-shadow: 5px 5px 5px rgb(229, 65, 50);;

}

.pBoxColumn{
	width: 30%;
	float: left;
}

#carrierColumn1{
	float: left;
	width: 45%;
	margin-left: 5%;
}
#carrierColumn2{
	float: right;
	width: 45%;
	margin-right:5%;
}
#shipperP1{
	width: 30%;
	padding: 20px;
	float: left;
}

#shipperP2{
	width: 30%;
	padding: 20px;
	float: left;
}

#shipperP3{
	width: 30%;
	padding: 20px;
	float: left;
}

#carrierP1{
	
	padding: 20px;
	float: left;
}

#carrierP2{
	width: 90%;
	padding: 20px;
	float: left;
}

#carrierP3{
	width: 90%;
	margin-right:20%;
	padding: 20px;
	float: left;
}

#carrierP4{
	padding: 20px;
	float: left;
}

#contactForm{
	margin-top: 20px;
	margin-left: 5%;
	float: left;
	width: 80%;
}

#contactEmails{
	width: 30%;
	float: left;
	margin-top: 20px;
	padding: 20px;
	border: 2px solid #035096;
	border-radius: 5%;
	margin: 0;
	margin-left: 5%;

}

.businessEmail{
	
	font-size: 1em;

}

#question{
	color: black;
	width: 100%;
	margin-top:0;
	
	float: right;
}

form{
	width:100%;
	margin-left:0%;
	float: left
}

form input{
	width: 90%;
	margin-top: 5px;
}
form textarea{
	width: 90%;
	height: 100px;
	margin-top: 5px;
}

form #submit{
	width: 15%;
}

#excelLoadboards{
	margin:5%;
}

.excel{
	height: 175px;
	width: 100%;
	pointer-events: none;

}

.loadboard{
	width: 	100%;
	margin-bottom: 20px;
}

#loadPhone{

	margin-left: 5%;
	color: white;
}

#imageCredits{
	font-size: .7em;
	padding-top: 30px;
	float:left;
	margin-left: 5%;
}